.investment-form {
    max-width: 900px;
    /* Reduced width for a more compact form */
    margin: 20px auto;
    background: #f7f7f7;
    padding: 25px;
    /* Reduced padding */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Keeps the two-column layout */
    gap: 30px;
    /* Reduced gap for a tighter layout */
}

.form-group {
    margin-bottom: 5px;
    /* Reduced bottom margin for form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    /* Smaller font size for labels */
}

.form-control {
    width: 100%;
    padding: 4px 4px;
    /* Reduced padding for a slimmer input field */
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    /* Smaller font size for input text */
}

.checkbox-group label {
    display: flex;
    align-items: left;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 3px;
    /* Space between checkbox and label text */
}

label {
    font-weight: bold;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
}

.form-check {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

/* You may want to ensure that labels are aligned with the inputs */
.form-check-input {
    margin-top: 0;
}

/* Adjust label spacing as needed */
.form-check-label {
    margin-left: 5px;
}

/* .additional-inputs {
    transition: max-height 0.2s ease-out;
}

.toggle-btn {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
}

.arrow.up {
    border-top: none;
    border-bottom: 5px solid #333;
}

.arrow.down {
    border-top: 5px solid #333;
} */