.properties-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.properties-table th,
.properties-table td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* Add left border to each cell */
}

.properties-table th {
    background-color: #04AA6D;
    color: white;
    border-right: 1px solid #ddd;
    /* Add right border to header cells */
    cursor: pointer;
    /* Makes the cursor appear as a pointer when hovering over table headers */
    transition: background-color 0.3s ease;
    /* Optional: smooth transition for background color */
}

.properties-table th:hover {
    background-color: #037f58;
    /* Darkens the header background slightly on hover */
}

.properties-table td {
    border-right: 1px solid #ddd;
    /* Add right border to data cells */
}

.properties-table tr:hover {
    background-color: #a09d9d;
}

.properties-table a {
    color: #04AA6D;
    text-decoration: none;
}

.button-icon {
    border: none;
    background: none;
    padding: 0;
    margin-right: 5px;
}

.button-icon:last-child {
    margin-right: 0;
}

.icon-small {
    font-size: 16px;
}