.properties-table {
    width: 100%;
    border-collapse: collapse;
}

.properties-table th,
.properties-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* Add left border to each cell */
}

.properties-table th {
    background-color: #04AA6D;
    color: white;
    border-right: 1px solid #ddd;
    /* Add right border to header cells */
}

.properties-table td {
    border-right: 1px solid #ddd;
    /* Add right border to data cells */
}

.properties-table tr:hover {
    background-color: #a09d9d;
}

.properties-table a {
    color: #04AA6D;
    text-decoration: none;
}