.fileInput {
    font-size: 18px;
    padding: 10px;
}

.uploadButton {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
}

/* .dataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.dataTable th,
.dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dataTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.expected-headers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

.expected-headers-table th,
.expected-headers-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.expected-headers-table th {
    background-color: #f2f2f2;
    text-align: left;
} */